.App {
  background-image: url("https://i0.hdslb.com/bfs/article/da36a619b56cfbe47159272fee381323affe3a32.jpg");
  background-size:cover;
  background-position: center;
  width: auto;
}
.joinImg{
width:100%;
max-height: 10rem;
height: auto;
text-align: center;
}

.title{
font-weight: bold;
font-size: auto;

}
a {
text-decoration: none;
}
.container{
  height: auto;
  min-width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 125px;
flex:1;
}
.foot{
background-color: #ffffff;
text-align: center;
font-size: large;
padding: 1rem;
margin-top:440px;
margin: 0.7rem;
}
.item{
display: flex;
justify-content: space-between;

align-items: center;
}

.boldtext{
font-weight: bold;
margin-top:20px;
font-size: large;
}
.block {
background-color: #e4e1e1;
margin: 0.7rem;
border-radius: 0.6rem;
padding: 1rem;
margin-top:440px;
position:block ;
}
li {
list-style-type: none;
font-weight: bold;
font-family: comic sans MS;
font-size: 18px;
color: white;
}
a
{
text-decoration: none;
}
nav {

display: flex;
justify-content: space-around;
align-items: center;
min-height: 6vh;
}
.navBar{
display: flex;
justify-content: space-around;
width: 40%;

}
.games{
background-color: #e0e0e0;
margin-top: 425px;
border-radius: 0.6rem;
padding: 1rem;
flex:2;
}
.order{
background-color: #e0e0e0;
margin-top: 30px;
position: relative;
border-radius: 0.6rem;
padding: 1rem;

}

.text-right {
text-align: right;
}
img.itemImg {
max-height: 15rem;

}
.entry {
display: flex;
justify-content: space-between;
}
.entry.center {
align-items: center;
}
button {
border:none;
font-size: 0.8rem;
padding: 0.3rem;
margin: 0.2rem;
border-radius: 0.3rem;
background-color:  #e48100;
width: 100%;
cursor: pointer;
}
.hoverBtn{
color:white;
font-weight: bold;
}
.hoverBtn:hover {
background-color:#e45c02 ;
color:white;
}
.add {

background-color: #ffe819;
width: 1.5rem;
}
.removeSingleItem{
background-color: #f04040;
width: 1.5rem;
}
.removeAll {
  margin-left:10px;
}
.up {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}
.pop {
  background-color: white;
  position: absolute;
}
.total{
font-weight: bold;
}
.empty{
  scale: 0.5;
}

.submit{
border:none;
font-size: 0.8rem;
padding: 0.3rem;
margin: 0.2rem;
border-radius: 0.3rem;
background-color:  #e48100;
color:white;
font-weight: bold;
cursor: pointer;
}
.submit:hover {
background-color:#e45c02 ;
color:white;
}

