.app {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: right;
}

.cart-list {
    width: 600px;
}

.cart {
    background-color: rgb(255, 115, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    color: rgb(32, 78, 131);
    height: 40px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.cart:hover .remove {
    display: block;
}

.remove {
    display: none;
}

.item {
    display: flex;
    align-items: center;
}


.price {
    display: flex;
    align-items: right;
}

.icon {
    margin-right: 10px;
}